<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hangman Web</title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="menu2">
            <a href="./index.html" class="logo">HANG • MAN • WEB</a>
            <a href="./index.html" class="active">A propos</a>
            <a href="./game.html" >Jeu</a>
            <a href="./configuration.html" id="active">Configuration</a>
        </div>
    </header>

    <main>
        <div class="config-align-center">
            <div class="align-game-button" >
                <label class="switch">
                    <input checked type="checkbox" />
                    <span class="slider round"></span>
                    <h6>Off : En - On : Fr</h6>
                </label> 
                <label class="switch">
                    <input checked type="checkbox" />
                    <span class="slider round"></span>
                    <h6>On (checked)</h6>
                </label>
                <select class="box">
                  <option>Très Facile</option>
                  <option>Facile</option>
                  <option>Moyen</option>
                  <option>Option 4</option>
                  <option>Option 5</option>
                </select>
            </div>
            <div>
                <label class="switch">
                    <input checked type="checkbox" />
                    <span class="slider round"></span>
                    <h6>On (checked)</h6>
                </label> 
                <label class="switch">
                    <input checked type="checkbox" />
                    <span class="slider round"></span>
                    <h6>On (checked)</h6>
                </label>
            </div>

            <!-- <div>
                <form action="/reset-game" method="POST">
                    <label class="switch">
                        <input checked type="checkbox" />
                        <span class="slider round"></span>
                        <h6>On (checked)</h6>
                    </label> 
                </form>
                <label class="switch">
                    <input checked type="checkbox" />
                    <span class="slider round"></span>
                    <h6>On (checked)</h6>
                </label>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <h6>Off (checked)</h6>
                </label>
                
                <label class="switch">
                        <input type="checkbox" />
                        <span class="slider round"></span>
                        <h6>On (checked)</h6>
                </label>
                <div class="box">
                    <select>
                      <option>Option 1</option>
                      <option>Option 2</option>
                      <option>Option 3</option>
                      <option>Option 4</option>
                      <option>Option 5</option>
                    </select>
                </div> 
            </div>            
            <div>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <h6>On (checked)</h6>
                </label>
                <label class="switch">
                    <input type="checkbox" />
                    <span class="slider round"></span>
                    <h6>Off (checked)</h6>
                </label>    
            </div>
        </div> -->

    </main>

</body>
</html>