<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Hangman Web</title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="menu2">
            <a href="./index.html" class="logo">HANG • MAN • WEB</a>
            <a href="./index.html" class="active">A propos</a>
            <a href="./game.html" >Jeu</a>
            <a href="./configuration.html" id="active">Configuration</a>
        </div>
    </header>

    <main>
        
    </main>

</body>
</html>