<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{.HangmanWebTranslations.Title}}</title>
  <link href="https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
</head>
<body>
    <header>
        <div class="menu2">
            <a href="./index.html" class="logo">{{.HangmanWebTranslations.NavLogoTitle}}</a>
            <a href="./index.html" class="active">{{.HangmanWebTranslations.NavAbout}}</a>
            <a href="./game.html" >{{.HangmanWebTranslations.NavGame}}</a>
            <a href="./configuration.html" id="active">{{.HangmanWebTranslations.NavConfig}}</a>
        </div>
    </header>

    <main>
        <div class="config-game-button">
            <!-- Formulaire pour la langue -->
            {{.GameData.AddFormForTheExtensionLanguage}}

            <!-- Formulaire pour le compteur de victoire -->
            {{.GameData.AddFormForTheExtensionVictoryCounter}}

            <!-- Formulaire pour la difficulté -->
            <div class="config-texte-align">
                {{.GameData.AddFormForTheExtensionEnableDifficulty}}
            </div>
            <!-- Formulaire pour les jokers -->
            {{.GameData.AddFormForTheExtensionEnableJokers}}

            <!-- Formulaire pour l'ajout de mot -->
            {{.GameData.AddFormForTheExtensionAddWordAfterGame}}
        </div>
    </main>

</body>
</html>
